{% extends 'CRUD_System/CRUD_System_base.html'%}
{% block body_block %}
    <!--  -->
    {% if schools %}
        <h1>List of available schools</h1>
        <ul>
            {% for school in schools %}
            <a href="{{school.id}}">
                <li> {{ school.name }}, located at {{ school.location}}</li>
            </a>
            {% empty %}
                <li>Sorry, no schools here!</li>
            {% endfor %}
        </ul>
        <a href="{% url 'CRUD_System:add_school'%}">
            <input type="submit" name="" id="" class='btn btn-success' value='Add school'>
        </a>
    {% elif students %}
    <h1>List of all students</h1>
    <ul>
        {% for student in students %}
        <a href="{{ student.id }}">
            <li> {{ student.name }} {{ student.last_name}}, at {{ student.school}} </li>
        </a>
            {% empty %}
                <li>Sorry, no entries here!</li>
        {% endfor %}
    </ul>
        <a href="{% url 'CRUD_System:add_student'%}">
            <input type="submit" name="" id="" class='btn btn-success' value='Add student'>
        </a>
    {% elif principals %}
    <h1>List of principals</h1>
    <ul>
        {% for person in principals %}
        <a href="{{ principal.id }}">
            <li> {{ person.name }} {{ person.last_name }} </li>
        </a>
            {% empty %}
                <li>Sorry, no entries here!</li>
        {% endfor %}
    </ul>
        <a href="{% url 'CRUD_System:add_principal'%}">
            <input type="submit" name="" id="" class='btn btn-success' value='Add principal'>
        </a>

    {% else%}
        <p>You shouldn't be able to see this view ...</p>
        <p>It only shows when the template page was called with an empty context_object_name tag</p>        
    {% endif%}
    
    <!--  -->
{% endblock %}