{% extends 'CRUD_System/CRUD_System_base.html' %}
{% block body_block %}

{% if school_details %}
    <h1>Welcome to the School Detail Page</h1>
    <h2>Details</h2>
    <p>Name: {{school_details.name }}</p>
    <p>Principal: <a href="{% url 'CRUD_System:principal_details' school_details.principal.all.0.id %}">{{ school_details.principal.all.0 }}</a></p>
    <p>Location: {{ school_details.location }}</p>
    <h3>Students:</h3>
    <ul>
        {% for student in school_details.students.all %}
        <a href="{% url 'CRUD_System:student_details' student.id%}">
            <li>ID:{{ student.id}}, {{student.name}} {{student.last_name}}</li>
        </a>
        {% endfor %}
    </ul>


{% elif student_details %}
    <h1>Welcome to the Student Detail Page</h1>
    <h2>Details</h2>

{% elif principal_details%}
    <h1>Welcome to the Principal Detail Page</h1>
    <h2>Details</h2>
    
{% endif %}

{% endblock %}
